{% extends 'layout.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Species Is....{{ a }}</h1>
        <p class="lead">Dolcelatte manchego smelly cheese. Smelly cheese stinking bishop fromage roquefort goat caerphilly gouda blue castello.</p>
        <hr class="my-4">
        <p>Bavarian bergkase chalk and cheese taleggio. Lancashire croque monsieur swiss feta halloumi edam cheese triangles cheeseburger. Mascarpone cheese on toast caerphilly cheese and biscuits pecorino halloumi gouda roquefort. Parmesan cow cheese and biscuits cut the cheese pepper jack cheese and wine taleggio say cheese. Squirty cheese cow.</p>
    </div>
{% endblock content %}